# Respuesta 4

In [50]:
import pandas as pd
import sqlite3

csv_file_path = 'Prueba_Moderno.csv'

try:
    df = pd.read_csv(csv_file_path, encoding='latin1', delimiter=';')
    df.columns = df.columns.str.replace(' ', '_')
    
    print("Columnas modificadas:")
    print(df.columns)
    
except UnicodeDecodeError as e:
    print("Error al leer el archivo CSV:", e)

Columnas modificadas:
Index(['Cadena', 'Sub_Cadena', 'Categoría', 'Familia', 'Código_de_Producto',
       'Peso_en_Toneladas'],
      dtype='object')

- Se lee el archivo CSV y se reemplazan los espacios en los nombres de las columnas por guiones bajos para evitar problemas con SQL y pandas.

## Consulta SQL:

In [52]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
df.to_sql('Prueba_Moderno', conn, index=False, if_exists='replace')

67525

In [51]:
query = """
SELECT Sub_Cadena, SUM(Peso_en_Toneladas) as Venta_Total
FROM Prueba_Moderno
WHERE Código_de_Producto = '8406103'
GROUP BY Sub_Cadena
"""
result = pd.read_sql_query(query, conn)

print(result)

   Sub_Cadena  Venta_Total
0   Plaza Vea       4.9350
1  Precio Uno       0.0120
2      Tottus       5.7015

## Consulta Usando pandas:

In [49]:
df_filtered = df[df['Código_de_Producto'] == 8406103]

result_pandas = df_filtered.groupby('Sub_Cadena')['Peso_en_Toneladas'].sum().reset_index()

result_pandas.columns = ['Sub_Cadena', 'Venta_Total']

print("Resultado usando pandas:")
print(result_pandas)

Resultado usando pandas:
   Sub_Cadena  Venta_Total
0   Plaza Vea       4.9350
1  Precio Uno       0.0120
2      Tottus       5.7015